/* <!-- Responsive viewport --> */
@media only screen and (min-width: 320px){
    body {
        background-image: url(Assets/Home\ Background.jpg);
        background-size:cover;
        /* background-size: 100vw 115vh; */
      }
}

/* NavBar */
.navbar a{
    font-family: 'Delicious Handrawn', cursive;
  }
  
  .navbar{
    background-color: #E9E9E9 !important;
  }
  
  @media (max-width:px)  {
    .sidebar{
      background-color: #e9e9e967;
      backdrop-filter: blur(10px);
    }
  }

/* Code for Information and Button */

.button{
    margin-bottom: 200px;
    margin-right: 30px;
    font-family: 'Delicious Handrawn', cursive;   
}

.button:hover{
  opacity: 0.8;
}

main{
    margin-top: 50px;
}

h1{
  font-family: 'Delicious Handrawn', cursive;
}


/* Code below for FOOTER */

.bi-twitter{
  opacity: 0.7;
}
.bi-twitter:hover{
  opacity: 1;
}

.bi-facebook{
  opacity: 0.7;
}
.bi-facebook:hover{
  opacity: 1;
}

.bi-instagram{
  opacity: 0.7;
}
.bi-instagram:hover{
  opacity: 1;
}
