/* NavBar */
.navbar a {
  font-family: 'Delicious Handrawn', cursive;
}

.navbar {
  background-color: #E9E9E9 !important;
}

@media (max-width:px) {
  .sidebar {
    background-color: #e9e9e967;
    backdrop-filter: blur(10px);
  }
}

h2 {
  font-family: 'Delicious Handrawn', cursive;
}

h5 {
  font-family: 'Delicious Handrawn', cursive;
}

p {
  font-family: 'Delicious Handrawn', cursive;
  font-size: large;
}

.button a {
  font-family: 'Delicious Handrawn', cursive;
}

.bell:hover{
  opacity: 1;
}

.bell{
  opacity: 0.6;
}

.profile{
  opacity: 0.6;
}

.profile:hover{
  opacity: 1;
}

.arrow{
  position:relative;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  scale: 300%;
  /* Code below is for when the screen gets smaller - the position of the arrow */
  transform: translate(-185%);
  top: 40px;
}


.link:hover{
  background: inherit;
  color: #67B8F2;
  opacity: 1;

}

.flag{
  position:relative;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  scale: 250%;
  opacity: 0.3;
  /* Code below is for when the screen gets smaller - the position of the arrow */
  transform: translate(230%);
  top: 40px;
}

.flag:hover{
  background: inherit;
  color: rgb(235, 66, 66);
  opacity: 1;
}

.link{
  color: black;
  opacity: 0.3;

}

#offcanvasNavbar{
  font-family: 'Delicious Handrawn', cursive;
}

/* Responsive viewport */

@media only screen and (min-width: 1200px){
  /* This is when the screen gets bigger */
  .arrow{
    transform: translate(-400%);
  }

  .flag{
    transform: translate(480%);
  }
}

/* @media only screen and (min-width: 768px){
  .arrow{
    transform: translate(-330%);
  }

} */





/* Code below for FOOTER */

.bi-twitter{
  opacity: 0.7;
}
.bi-twitter:hover{
  opacity: 1;
}

.bi-facebook{
  opacity: 0.7;
}
.bi-facebook:hover{
  opacity: 1;
}

.bi-instagram{
  opacity: 0.7;
}
.bi-instagram:hover{
  opacity: 1;
}

/* Code below for PROFILE */

.start:hover{
  opacity: 0.8;
}

.card{
  margin-bottom: 80px;
}

.bi-gender-female {
  color: palevioletred;
  font-weight: bolder;
}

.bi-gender-male{
  color: rgb(79, 181, 221);
}
