@media only screen and (min-width: 320px){
    body{
        background-image: url(../Assets/coming\ soon.jpg);
        background-size: cover;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        /* background-position: 0px 76px; */
            /* padding: 50px; */
    }

    h1{
        font-family: 'Delicious Handrawn', cursive;
        margin-left: 50px;
    }

}



/* Title */
/* h1:hover{
    opacity: 0.6;
} */

main{
    color: #67B8F2;
    /* margin-bottom: 340px; */

    padding-top: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;

    font-family: 'Delicious Handrawn', cursive;
}

.button span{
    padding-left: 30px;
    padding-right: 30px;
}

.button:hover{
    opacity: 0.8;
}

