/* <!-- Responsive viewport --> */
@media only screen and (min-width: 320px){
    body{
        background-image: url(/PetDates/Seamless\ background.png);
        background-repeat: repeat;
        font-size: auto;
    }
    .carousel{
        margin: auto;
        display: block;
        padding-left: auto;
        padding-right: auto;
        width: 40%;
    }
}

/* Code for Information */
h1{
    text-align: center;
    padding-top: 120px;
}

h1 span{
    background-color: #FFDBE9;
    padding-inline: 60px;
    border-radius: 20px;
    font-size: 100px;
}

.title{
    margin-top: 80px;
    text-align: center;
}

h2 span{
    background-color: #FFDBE9;
    padding-inline: 40px;
    border-radius: 15px;
    font-size: 50px;
}

/* Code below is for the carousel pictures */
.item{
    margin-top: 100px;
    padding: 50px;
    /* This padding code below - determines where the pictures are placed - kinda of difficult to know due to different screen sizes of users */
    padding-left: 150px;
    display: block;
    background-color: #B9D8ED;
    margin-bottom: 100px;
}

.picture{
    padding: 10px;
}

.carousel{
    margin: auto;
    display: block;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}