/* <!-- Responsive viewport --> */
@media only screen and (min-width: 320px){
    #carouselExampleControlsNoTouching{
        margin-left: 200px;
        margin-right: 200px;
        background-color: white;
        margin-top: 100px;
        border-radius: 30px;
    }
    .carousel-inner{
        padding: 50px;
        /* display: block;
        margin-left: 25%;
        margin-right: 0%; */
    }
   .carousel-control-prev{
        margin-left: 200px;

    }
    .carousel-control-next{
        margin-right: 200px;
    }
    img{
        border-radius: 20px;
        margin: 0px 320px;
    }

}

/* Name and Location text */
.text-block {
    position:absolute;
    bottom: 20px;
    left: 340px;
    background-color: #68B8F2;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
