*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* NavBar */
.navbar a{
    font-family: 'Delicious Handrawn', cursive;
}
  
.navbar{
    background-color: #E9E9E9 !important;
}
  
@media (max-width:px)  {
.sidebar{
    background-color: #e9e9e967;
    backdrop-filter: blur(10px);
}
}

.bell:hover{
    opacity: 1;
}

.bell{
    opacity: 0.6;
}

.profile{
    opacity: 0.6;
}

.profile:hover{
    opacity: 1;
}

#offcanvasNavbar{
    font-family: 'Delicious Handrawn', cursive;
}

/* Tinder carousel */

.tinder {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
    opacity: 1;
}

.tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.tinder--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
}

.tinder_love .bi-suit-heart-fill {
    opacity: 0.7;
    transform: scale(1);
}

.tinder_nope .bi-x-circle-fill {
    opacity: 0.7;
    transform: scale(1);
}

.tinder--cards {
    flex-grow: 1;
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
    z-index: 1;
}

.tinder--card {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 63vh;
    background: #FFFFFF;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.tinder--card img {
    margin-top: 25px;
    max-width: 90%;
    pointer-events: none;
}

.tinder--card h3{
    font-family: 'Delicious Handrawn', cursive;
}

.tinder--card p{
    font-family: 'Delicious Handrawn', cursive;
}

.tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    /* padding-top: 20px; */
    scale: 150%;
}

.tinder--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.tinder--buttons button:focus {
    outline: 0;
}

.tinder--buttons i {
    font-size: 32px;
    vertical-align: middle;
}

#nope .bi-x-circle-fill:hover{
    color:red;
    opacity: 1;
}

#love .bi-suit-heart-fill:hover{
    color: limegreen;
    opacity: 1;
}


.bi-suit-heart-fill {
    /* color: #FFACE4; */
    /* color: #CDD6DD; */
    color: limegreen;
    opacity: 0.3;

}

.bi-x-circle-fill {
    /* color: #CDD6DD; */
    color: red;
    opacity: 0.3;

}

.bi-gender-female {
    color: palevioletred;
    font-weight: bolder;
}

.bi-gender-male{
    color: rgb(79, 181, 221);
}

/* Code below for FOOTER */

.bi-twitter{
    opacity: 0.7;
}
.bi-twitter:hover{
    opacity: 1;
}

.bi-facebook{
    opacity: 0.7;
}
.bi-facebook:hover{
    opacity: 1;
}

.bi-instagram{
    opacity: 0.7;
}
.bi-instagram:hover{
    opacity: 1;
}
